# Python
venv/
__pycache__/
*.py[cod]
*$py.class
.Python
.coverage
.pytest_cache/
*.so

# Environment variables
.env
.env.*

# VS Code
.vscode/
*.code-workspace

# OS specific
.DS_Store
Thumbs.db

# Project specific
logs/
dist/
build/
*.egg-info/

# Ignore node_modules directory
node_modules/

# Ignore Jest coverage reports
coverage/
htmlcov/
clover.xml
coverage-final.json
lcov.info
jest_results.json


# Ignore temporary test files
tests/tmp*.py
js_tests/tmp*.js

# Ignore Python coverage XML report
coverage.xml